.modal-body {
    max-height: 400px !important;
    overflow-y: scroll;
}

ul {
    padding: 0;
    list-style-type: none !important;
}

li.history-item {
    border-radius: .33em;
    padding: 6px;
}

li.history-item:hover {
    background-color: lightgrey !important;
}